<button mat-stroked-button (click)="search()" class="search-button">Search</button>
<div class="search-examples">
    Examples: <a (click)="searchExample('TTN')">TTN</a> or <a (click)="searchExample('TP53')">TP53</a> or <a (click)="searchExample('WASH7P')">WASH7P</a>
</div>
<i (click)='clearFilter()' class="reset material-icons">refresh</i>
<app-search-bar-clinical [options]="{autofocus: false}" [action]='addGene'></app-search-bar-clinical>
<mat-form-field class="chip-list">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let query of queries" color="accent"
               [removable]="removable" (removed)="remove(query.term)" [ngClass]="{'chip-red': !query.verified}">
        {{query.term}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Genes"
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)"
             (paste)="paste($event)">
    </mat-chip-list>
</mat-form-field>
<mat-form-field>
  <mat-label>Select Panel</mat-label>
  <mat-select [(ngModel)]="searchBarService.panelGroup" (selectionChange)="onChange($event)">
      <mat-option value=''>None</mat-option>
      <mat-option *ngIf="permitted" value='agha'>AGHA</mat-option>
      <mat-option value='genomicEngland'>Genomic England</mat-option>
  </mat-select>
</mat-form-field>
<app-gene-panels *ngIf="permitted && searchBarService.panelGroup==='agha'" [selectedPanelGroup]='searchBarService.panelGroup' [selectedGenePanel]='searchBarService.panel'></app-gene-panels>
<app-gene-panels *ngIf="searchBarService.panelGroup==='genomicEngland'" [selectedPanelGroup]='searchBarService.panelGroup' [selectedGenePanel]='searchBarService.panel'></app-gene-panels>