::ng-deep .mat-chip { 
    margin: 3px 8px !important;
    padding: 3px 7px !important;
    font-size: 10px !important; 
}

::ng-deep mat-chip .mat-chip-remove.mat-icon { 
    font-size: 13px !important;
}

.search-button {
    margin: 10px 20% 10px 20%;
    min-width: 110px;
}