<button mat-stroked-button (click)="search()" class="search-button">Search</button>
<div class="search-examples">
    Examples: <a (click)="searchExample('TTN')">TTN</a> or <a (click)="searchExample('TP53')">TP53</a>
</div>
<i (click)='clearFilter()' class="reset material-icons">refresh</i>
<app-search-bar-clinical [options]="{autofocus: false}" [action]='addGene'></app-search-bar-clinical>
<mat-form-field class="chip-list">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let query of queries" color="accent"
               [removable]="removable" (removed)="remove(query.term)" [ngClass]="{'chip-red': !query.verified}">
        {{query.term}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Genes"
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)"
             (paste)="paste($event)">
    </mat-chip-list>
  </mat-form-field>
<app-gene-panels-fixed [selectedGenePanel]='searchBarService.panel'></app-gene-panels-fixed>