<mat-tab-group *ngIf="selectedCohort === 'Acutecare'">
    <mat-tab label="Affected Samples">
        <div class="loading-message" *ngIf="loadingVariants">
            <mat-spinner color="primary"></mat-spinner>
          </div>
          <div class="message message-error" *ngIf="!loadingVariants && variants.length <= 0 && !denied">No Variants found for the query</div>
          <div *ngIf="denied && !loadingVariants" class="message message-error">You do not have permission to view this data.</div>
          
          <div class="search-result-content" *ngIf="searchService.commenced">
            <app-acutecare-information *ngIf="selectedCohort === 'Acutecare'" [pheno]="pheno" [samples]="ids"></app-acutecare-information>
          
            <div *ngIf="variants.length > 10000&&geneFilter.length === 0" class="message message-error">
                This region contains too many variants to visualize with our genome browser, please choose a smaller region like:
                <a (click)="goToSmallerRegion()">{{searchService.getSmallerRegionString()}}</a>
            </div>
            <app-variants-table [variants]="variants"></app-variants-table>
          </div>
    </mat-tab>
    <mat-tab label="Family" [disabled]="loadingVariants">
            <div class="loading-message" *ngIf="loadingVariants">
                <mat-spinner color="primary"></mat-spinner>
            </div>
            <div class="message message-error" *ngIf="!loadingVariants && variants.length <= 0 && !denied">No Variants found for the query</div>
            <div *ngIf="denied && !loadingVariants" class="message message-error">You do not have permission to view this data.</div>
            <app-family-tab *ngIf="searchService.commenced" [pheno]="pheno" [samples]="mappingSamples" [searchQueries]="searchQueries"></app-family-tab>
        </mat-tab>
</mat-tab-group>

<mat-tab-group *ngIf="selectedCohort === 'Demo'">
        <mat-tab label="Affected Samples">
            <div class="loading-message" *ngIf="loadingVariants">
                <mat-spinner color="primary"></mat-spinner>
              </div>
              <div class="message message-error" *ngIf="!loadingVariants && variants.length <= 0 && !denied">No Variants found for the query</div>
              <div *ngIf="denied && !loadingVariants" class="message message-error">You do not have permission to view this data.</div>
              
              <div class="search-result-content" *ngIf="searchService.commenced">
                <app-demo-information *ngIf="selectedCohort === 'Demo'" [pheno]="pheno" [samples]="ids"></app-demo-information>
              
                <div *ngIf="variants.length > 10000&&geneFilter.length === 0" class="message message-error">
                    This region contains too many variants to visualize with our genome browser, please choose a smaller region like:
                    <a (click)="goToSmallerRegion()">{{searchService.getSmallerRegionString()}}</a>
                </div>
                <app-variants-table [variants]="variants"></app-variants-table>
              </div>
        </mat-tab>
        <mat-tab label="Family" [disabled]="loadingVariants">
                <div class="loading-message" *ngIf="loadingVariants">
                    <mat-spinner color="primary"></mat-spinner>
                </div>
                <div class="message message-error" *ngIf="!loadingVariants && variants.length <= 0 && !denied">No Variants found for the query</div>
                <div *ngIf="denied && !loadingVariants" class="message message-error">You do not have permission to view this data.</div>
                <app-family-tab-new *ngIf="searchService.commenced" [pheno]="pheno" [samples]="mappingSamplesOnlyToAvailableFamily" [searchQueries]="searchQueries"></app-family-tab-new>
            </mat-tab>
    </mat-tab-group>

<div *ngIf="selectedCohort !== 'Acutecare' && selectedCohort !== 'Demo'">
    <div class="loading-message" *ngIf="loadingVariants">
        <mat-spinner color="primary"></mat-spinner>
      </div>
      <div class="message message-error" *ngIf="!loadingVariants && variants.length <= 0 && !denied">No Variants found for the query</div>
      <div *ngIf="denied && !loadingVariants" class="message message-error">You do not have permission to view this data.</div>
      
      <div class="search-result-content" *ngIf="searchService.commenced">
        <app-neuromuscular-information *ngIf="selectedCohort === 'Neuromuscular'" [pheno]="pheno" [samples]="ids"></app-neuromuscular-information>
        <app-mitochondria-information *ngIf="selectedCohort === 'Mitochondria'" [pheno]="pheno" [samples]="ids"></app-mitochondria-information>
        <app-brain-malformations-information *ngIf="selectedCohort === 'Brain Malformations'" [pheno]="pheno" [samples]="ids"></app-brain-malformations-information>
        <app-epileptic-encephalopathies-information *ngIf="selectedCohort === 'Epileptic Encephalopathies'" [pheno]="pheno" [samples]="ids"></app-epileptic-encephalopathies-information>
        <app-leukodystrophies-information *ngIf="selectedCohort === 'Leukodystrophies'" [pheno]="pheno" [samples]="ids"></app-leukodystrophies-information>
        <app-iccon-information *ngIf="selectedCohort === 'ICCon'" [pheno]="pheno" [samples]="ids"></app-iccon-information>
        <app-childranz-information *ngIf="selectedCohort === 'Childranz'" [pheno]="pheno" [samples]="ids"></app-childranz-information>
      
        <div *ngIf="variants.length > 10000&&geneFilter.length === 0" class="message message-error">
            This region contains too many variants to visualize with our genome browser, please choose a smaller region like:
            <a (click)="goToSmallerRegion()">{{searchService.getSmallerRegionString()}}</a>
        </div>
        <app-variants-table [variants]="variants"></app-variants-table>
      </div>
</div>