.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    align-items: center;
}

.row button {
    margin-right: 1rem;
}

button {
    color: #4c00c7;
}

.help-message p {
    font-size: larger;
}
