<div class="right-side">
    <nav>
        <a routerLink="/initiatives" routerLinkActive="is-active">Initiatives</a>
        <a routerLink="/search" routerLinkActive="is-active">Search</a>
        <a class="explore-beta" routerLink="/explore" routerLinkActive="is-active">Explore</a>
        <a routerLink="/beacon" routerLinkActive="is-active">Beacon</a>
        <a routerLink="/about" routerLinkActive="is-active">About</a>
        <a [ngClass]="{'is-active': termsLinkActive}" (click)="toggleTerms($event)">
            <div class="terms-link">
                <span class="label">Data access</span>
                <i *ngIf="!termsDropdown" class="material-icons">keyboard_arrow_down</i>
                <i *ngIf="termsDropdown" class="material-icons">keyboard_arrow_up</i>
            </div>

            <div *ngIf="termsDropdown" [ngClass]="['terms', 'dropdown']" (click)="goToMgrbTerms($event)">
                <a>MGRB</a>
            </div>
        </a>

        <div *ngIf="!auth.authenticated()" class="sign-up">
            <a (click)="auth.login()">Log in</a>
            <div class="spacer">|</div>
            <a (click)="openSignUpDialog()">Sign up</a>
        </div>
        <a *ngIf="auth.authenticated()" [ngClass]="{'is-active': termsLinkActive}" (click)="toggleUser($event)">
            <div class="terms-link">
                <span class="label">{{userEmail}}</span>
                <i *ngIf="!userDropdown" class="material-icons">keyboard_arrow_down</i>
                <i *ngIf="userDropdown" class="material-icons">keyboard_arrow_up</i>
            </div>

            <div *ngIf="userDropdown" [ngClass]="['user', 'dropdown']" (click)="auth.logout()">
                <a>Log out</a>
            </div>
        </a>
    </nav>
</div>
