<div class="right-side">
    <nav>
        <a routerLink="/initiatives" routerLinkActive="is-active">Initiatives</a>
        <a routerLink="/search" routerLinkActive="is-active">Summary</a>
        <a routerLink="/clinical" routerLinkActive="is-active">Clinical Filtering</a>
        <a routerLink="/explore" routerLinkActive="is-active">Explore</a>
        <a routerLink="/beacon" routerLinkActive="is-active">Beacon</a>
        <a routerLink="/about" routerLinkActive="is-active">About</a>
        <!--<a [ngClass]="{'is-active': termsLinkActive}" (click)="toggleTerms($event)">
            <div class="terms-link">
                <span class="label">Data access</span>
                <i *ngIf="!termsDropdown" class="material-icons">keyboard_arrow_down</i>
                <i *ngIf="termsDropdown" class="material-icons">keyboard_arrow_up</i>
            </div>

            <div *ngIf="termsDropdown" [ngClass]="['terms', 'dropdown']" (click)="goToMgrbTerms($event)">
                <a>MGRB</a>
            </div>
        </a>-->

        <a *ngIf="!auth.authenticated()" class="sign-up">
            <a (click)="auth.login()">Log in</a>
            <div class="spacer">|</div>
            <a (click)="openSignUpDialog()">Sign up</a>
            <span class="terms-link">
                <div class="empty">
                </div>
            </span>
        </a>
        <a *ngIf="auth.authenticated()" [ngClass]="{'is-active': termsLinkActive}" (click)="toggleUser($event)" class="avatar-link">
            <span class="terms-link">
                <div class="avatar-frame">
                    <img *ngIf="userPicture" [src]="userPicture" />
                </div>
            </span>

            <div *ngIf="userDropdown" [ngClass]="['user', 'dropdown']" (click)="auth.logout()">
                <a>Log out</a>
            </div>
        </a>
        
    </nav>
</div>
