<div class="footer">
    <div class="container">
        <div>
            <a class="label" (click)="goToCohortAuthor()">Cohort Authors</a>
            <span> | </span>
            <a class="label" href="https://github.com/vectis-lab" target="_blank">Vectis Laboratories</a>
            <span> | </span>
            <a class="label" href="https://www.garvan.org.au/about-us/policies/privacy-policy" target="_blank">Privacy Policy</a>
            <span> | </span>
            <a class="label" href="https://australiangenomics.org.au" target="_blank">Australian Genomics</a>
        </div>
        <span class="label copyright">Copyright © {{ year }}</span>
    </div>
</div>
