<div class="footer">
    <div class="container">
        <div>
            <a class="label" (click)="goToCohortAuthor()">Cohort Authors</a>
            <span> | </span>
            <a class="label" href="https://github.com/vectis-lab" target="_blank" (mouseover)="hover=true" (mouseout)="hover=false"><svg-icon src="/assets/github.svg" [svgStyle]="hover?{'fill':'#586069'}:{'fill':'#c6cbd1'}"></svg-icon> Vectis Laboratories</a>
            <span> | </span>
            <a class="label" href="https://www.garvan.org.au/about-us/policies/privacy-policy" target="_blank">Privacy Policy</a>
            <span> | </span>
            <a class="label" href="https://australiangenomics.org.au" target="_blank">Australian Genomics</a>
        </div>
        <span class="label copyright">Copyright © {{ year }}</span>
    </div>
</div>
