<app-page-container>
    <section class="about">
        <article>
            <div class="content">
                <h1 class="title">About</h1>
                <div class="sponsor-images">
                    <img src="assets/logos/circa/circa_temp_log.png" style="width: 120px;">
                </div>
                <p>
                        CIRCA is a national, Garvan-led collaboration of medical and scientific professionals that investigates 
                        the genetic causes of rare immune diseases.
                        Our mission  is to understand the genetic causes of immunological diseases in individual patients. We then use 
                        these findings to help improve outcomes for the patient, their families and other individuals with similar immune 
                        diseases.
                </p>

                <p>
                        Through CIRCA, we work closely with other scientists and health professionals to accelerate the discovery 
                        and diagnosis of rare diseases.
                        The CIRCA program has already <a href="https://www.garvan.org.au/research/collaborative-programs/circa/clinical-studies" target="_blank">
                        transformed the lives of over 30 patients</a> (many of whom are children).
                </p>

                <h2>Our key aims</h2>
                <ol>
                    <li>To use state-of-the-art genetics and genomics to understand the cause of disease in patients with rare or novel gene mutations;</li>
                    <li>To understand the impact of unknown genetic variations, to improve our understanding of the immune system. This will allow for improved treatment of both the rare diseases underpinned by these genetic variations, as well as common immunological diseases in which the same pathways may be active.</li>
                </ol>
                <p>Read more about <a href="https://www.garvan.org.au/research/collaborative-programs/circa/our-research" target="_blank">our research and diagnostic process.</a></p>
                <h2>Our partners</h2>
                <p>CIRCA partners are affiliated with:</p>
                <ol>
                    <li>The Garvan Institute of Medical Research</li>
                    <li>The Children’s Hospital at Westmead</li>
                    <li>Sydney Children’s Hospital Randwick</li>
                    <li>Royal Prince Alfred Hospital</li>
                    <li>Liverpool Hospital</li>
                    <li>St Vincent’s Hospital Sydney</li>
                    <li>Kirby Institute UNSW</li>
                    <li>John Hunter Hospital Newcastle</li>
                    <li>Sir Charles Gairdner Hospital (Perth)</li>
                    <li>Perth Children’s Hospital</li>
                    <li>Lady Cilento Children's Hospital (Brisbane)</li>
                    <li>Starship Child Health (Auckland, NZ)</li>
                    <li>The Immune Deficiencies Foundation of Australia (IDFA).</li>
                    <li>Read the <a href="https://www.garvan.org.au/research/collaborative-programs/circa/the-team" target="_blank">full list of members.</a></li>
                </ol>
                <p>CIRCA is supported by the NSW Office for Health and Medical Research, the Bill and Patricia Ritchie Foundation, the Jeffrey Modell Foundation, Costco and the National Health and Medical Research Council.</p>
            </div>
        </article>
        <!--<h1 class="title">Rare Disease Flagships</h1>
        <div class="band-flex">
            <app-cohorts></app-cohorts>
        </div>-->
        <mat-grid-list cols="4" rowHeight="3:1">
                <mat-grid-tile class="content-footer" colspan="2" rowspan="1">
                    <h1 class="title">Contact Us</h1>
                </mat-grid-tile>
                <mat-grid-tile class="content-footer" colspan="2" rowspan="1">
                        <h1 class="title">Partners</h1>
                    </mat-grid-tile>
                <mat-grid-tile class="content-footer" colspan="2" rowspan="2">
                    <div>
                        <p>Phone: (02) 9295 8100</p>
                        <p>Email: CIRCA_info@garvan.org.au</p>
                        <p>384 Victoria St</p>
                        <p>Darlinghurst, NSW 2010,</p>
                        <p>Australia</p>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile class="content-footer" colspan="1" rowspan="2">
                        <div style="display:block;">
                            <div class="partner-logo">
                                <a href="http://www.garvan.org.au/research/kinghorn-centre-for-clinical-genomics/clinical-genomics"
                                    target="_blank"><img src="assets/logos/garvan-logo.png" [ngStyle]="{maxHeight: '75px'}"></a>
                            </div>
                            <div class="partner-logo">
                                <a href="https://www.health.nsw.gov.au/Pages/default.aspx"
                                    target="_blank"><img src="assets/logos/NSWHealth-logo.png" [ngStyle]="{maxHeight: '75px'}"></a>
                            </div>
                        </div>
                </mat-grid-tile>
                <mat-grid-tile class="content-footer" colspan="1" rowspan="2">
                    <div style="display:block;">
                        <div class="partner-logo">
                            <a href="http://www.info4pi.org/"
                                target="_blank"><img src="assets/logos/jmf_logo_RGB.jpg" [ngStyle]="{maxHeight: '75px'}"></a>
                        </div>
                        <div class="partner-logo">
                            <a href="https://www.nhmrc.gov.au/"
                                target="_blank"><img src="assets/logos/nhmrc_logo.jpg" [ngStyle]="{maxHeight: '75px'}"></a>
                        </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>

    </section>
</app-page-container>
