.option {
    position: relative;
    cursor: pointer;
    font-size: medium;
}

.option span {
    white-space: nowrap;
}

.options {
    background-color: white;
    border: 1px solid lightgrey;
    position: absolute;
    min-width: 260px;
    width: 125%;
    box-shadow: 0 2px 4px rgba(0,0,0,.16);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.16);
    z-index: 99999;
}

.options div:hover {
    background-color: whitesmoke;
}

.options div {
    padding: 5px;
}

.selected-option {
    color: white;
    display: flex;
    align-items: center;
    min-width: 170px;
}
