.samples-list{
    width: 340px;
    height: 210px;
    margin: 0.8rem;
}

.content{
    min-width: 340px;
    max-height: 240px;
    overflow-y: auto;
}

.chart{
    margin-top: 1em;
}

h4 {
    text-align: center;
    margin: 0;
    color: rgba(0, 60, 105, 0.5);
    font-weight: bold;
}

.toolbar {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 19px;
}

.toolbar .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-top: 1rem;
}

.toolbar .row h4 {
    flex-basis: 0;
    flex-grow: 3;
}

.toolbar .row .option {
    flex-basis: 0;
    flex-grow: 1;
    font-size: medium;
    color: rgba(0, 60, 105, 0.5);
    cursor: pointer;
}

.toolbar .row .option.left {
    text-align: start;
}

.toolbar .row .option.right {
    text-align: end;
}

::ng-deep .mat-row { 
    min-height: 20px !important;
}

.highlight-selected{
    background-color:#7abde6
}

@media (min-width: 0px) and (max-width: 320px) {
    .chart {
        min-width: 200px;
    }
}
