<div class="chart">
    <div class="toolbar">
        <div class="row">
            <i *ngIf="multiple" (click)="resetFilter()" class="option material-icons left">refresh</i>
            <h4>Sample Id</h4>
            <span class="option right"></span>
        </div>
    </div>
    <div class="content">
      <mat-table [dataSource]="sampleIDs" *ngIf="!showSampleCSV">
          <ng-container matColumnDef="sample">
              <mat-cell *matCellDef="let sampleID" class="table-row"> {{sampleID}} </mat-cell>
          </ng-container>
          <mat-row *matRowDef="let row; columns: ['sample'];" [ngClass]="{'highlight-selected': checkSelectedSample(row)}" (click)="onSelect(row, $event)"></mat-row>
      </mat-table>
      <app-samples-text *ngIf="showSampleCSV" [samples]="selectedSamples" [multiple]="multiple" (filterSamples)="filterCSV($event)"></app-samples-text>
    </div>
</div>