<div class="backdrop-cover" *ngIf="sidenav.opened" (click)="sidenav.close()"></div>
<mat-sidenav-container>
    <main id="main-scroll" (scroll)="updateScroll($event)">
        <div class="main-content">
            <div *ngIf="showBanner" class="banner-notification">TEXT_COMING_SOON</div>
            <ng-content></ng-content>
        </div>
        <app-privacy-footer *ngIf="showPrivacy"></app-privacy-footer>
    </main>
</mat-sidenav-container>

<mat-sidenav #sidenav (click)="sidenav.close()">
    <div class="title">
        {{ smallTitle }}
    </div>
    <app-side-nav></app-side-nav>
</mat-sidenav>

<header class="header">
    <div class="header-content">
        <span id="header-title">
            <div class="menu-title" *ngIf="!sidenav.opened && showTitle"
                    routerLink="/">
                    <div class="logo-small">
                        <img src="assets/logos/circa/circa_temp_logo.png" style="width:40px;">
                        <h2>CIRCA</h2>
                    </div>
            </div>
        </span>
        <div class='container-nav'>
            <mat-icon 
                *ngIf="totalSamplesGen"
                class="cohort-information"
                [matTooltip]="cohort + '\n ' + totalSamplesGen + ' samples sequenced' + '\n' +  totalSamplesPhen + ' samples with phenotypes '"
                [matTooltipPosition]="'left'"
                [matTooltipClass]="'cohort-info'"
                >help_outline</mat-icon>
            <app-search-option [option]="searchBarService.options[0]" class="cohort-option" class="cohort-option"></app-search-option>
            <i *ngIf="showHamburger" class="material-icons"
            (click)="sidenav.open()">menu</i>
            <app-header-nav *ngIf="!showHamburger" class="header-nav"></app-header-nav>
        </div>
    </div>
</header>
