<div class="footer-band">
    <div class="footer">
        <div class="contact">

        </div>
        <div class="partners">
            <h6>PARTNERS</h6>
            <div class="logos">
                <div class="logo-group">
                    <a href="http://www.health.nsw.gov.au/Pages/default.aspx" target="_blank"><img
                        src="assets/logos/nswhealth.png"></a>
                    <a href="http://www.garvan.org.au/research/kinghorn-centre-for-clinical-genomics/clinical-genomics"
                        target="_blank"><img src="assets/logos/kccggarvan.png" [ngStyle]="{margin: '0 0 10 10px'}"></a>
                </div>
            </div>
        </div>
    </div>
</div>
