.charts {
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.filter-option {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.filter-label {
    min-width: 235px;
}

.filter-option mat-slide-toggle {
    height: auto;
    margin-left: 5px;
}

.filter-button{
    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
}

.filter-button:hover {
    background-color: white;
}

.dc-data-count {
    margin: 0;
}

mat-icon {
    cursor: pointer;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.my-full-width-menu {
    max-width: none;
    overflow: visible;
    max-height: 500px;
    overflow: scroll;
}