<div *ngIf="sampleNotFound" class="message message-error">Sample not found</div>
<div *ngIf="!error && !denied">
    <div class="toolbar">
        <div class='dc-data-count'>
            <span class='filter-count'></span>
            selected out of <span class='total-count'></span> sample records.
        </div>
        <div class="actions">
					<button mat-button [disabled]="selectedExternalSamples.length !== 1" 
                    (click)="onSelectSamples(this.selectedExternalSamples)" class="filter-button"
                    *ngIf="familyWithPheno"
					[matTooltip]="selectedExternalSamples.length === 1?'Pass sample selection from Family: ' + selectedExternalSamples[0]:null"
					>
						<mat-icon>file_copy</mat-icon>
						Pass sample selection
					</button>
					<mat-slide-toggle *ngIf="family" style="vertical-align: middle;margin-right: 1em;" [(ngModel)]="includeFamily" (change)="toggleIncludeFamily($event)">Include Family</mat-slide-toggle>
          <mat-slide-toggle style="vertical-align: middle;" [(ngModel)]="showSampleCSV">Samples CSV</mat-slide-toggle>
          <button mat-button (click)="resetFilters()" class="filter-button">
            <mat-icon>refresh</mat-icon>
            Reset
          </button>
          <button mat-button [matMenuTriggerFor]="menu" class="filter-button">
            <mat-icon matTooltipPosition="above" style="vertical-align: middle;">toc</mat-icon>
            More clinical traits
          </button>
          
            <mat-menu #menu="matMenu" class="my-full-width-menu">
                <div class="filter-option" (click)="$event.stopPropagation(); $event.stopImmediatePropagation()">
                    <span class="filter-label">All</span>
                    <mat-slide-toggle (change)="checkedAll($event)" [(ngModel)]="allIsChecked"></mat-slide-toggle>
                </div>
                <div class="filter-option" *ngFor="let c of charts" (click)="$event.stopPropagation(); $event.stopImmediatePropagation()">
                    <span class="filter-label">{{c.label}}</span>
                    <mat-slide-toggle [(ngModel)]="c.enabled"></mat-slide-toggle>
                </div>
            </mat-menu>
        </div>
    </div>
    <div class="charts" *ngIf="charts">
        <app-samples-list [sampleIDs]="externalIDs" [selectedSamples]="selectedExternalIDs" (onSelectSamples)="onSelectSamples($event)" [showSampleCSV]="showSampleCSV" (onUpdateSamples)="onUpdateSamples($event)"></app-samples-list>
        <div *ngFor="let c of charts">
          <app-clinical-cohort-chart [style.display]="c.enabled ? 'block' : 'none'" [data]="c" (hiddenChart)="onHidden($event)" [showSampleText]="c.name === 'sampleId' ? showSampleText : false"></app-clinical-cohort-chart>
        </div>
    </div>
  </div>
  <div *ngIf="denied" class="message message-error">You do not have permission to view this data.</div>
  <div *ngIf="error" class="message message-error">An unexpected error occurred, please try again or contact support</div>
  