<app-page-container>
    <app-auth-guard *ngIf="!auth.authenticated()"></app-auth-guard>
    <div *ngIf="auth.authenticated()">
        <mat-sidenav-container>
            <mat-sidenav #sidenav mode="side" fixedInViewport="true" fixedTopGap="71" [opened]="!isSmallScreen()" disableClose="true">
                <app-gene-search [autocomplete]="autocomplete"></app-gene-search>
                <app-gene-panels></app-gene-panels>
                <mat-divider></mat-divider>
                <app-saved-searches *ngIf="!searchBarService.autocompleteError && !error && autocomplete != null"></app-saved-searches>
            </mat-sidenav>
            <section class="content">
                <div class="message message-error" *ngIf="searchBarService.autocompleteError">
                    {{ searchBarService.autocompleteError }}
                </div>
                <div class="message message-error" *ngIf="error">{{ error }}</div>
                <div *ngIf="!searchBarService.autocompleteError && !error && autocomplete != null">
                    <div class="search-results">
                        <app-clinical-filtering [autocomplete]="autocomplete"
                                            (errorEvent)="handleError($event)"></app-clinical-filtering>
                    </div>
                </div>
            </section>
        </mat-sidenav-container>
        </div>
</app-page-container>
