.chart{
    display: flex;
    flex-wrap: wrap;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.actions{
    float: right;
    width: 100%;
}

.aligned-text-with-icon{
    position: relative;
    margin-top: 3px;
}

.filter-button{
    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
}

.material-icons{
    font-size: 20px;
}