<div class="toolbar">
    <div class="actions">
        <button mat-button  *ngIf="selectedExternalSamples.length === 1 && externalIDs.includes(selectedExternalSamples[0])" (click)="onSelectSamples(this.selectedExternalSamples)" class="filter-button">
            <mat-icon>file_copy</mat-icon>
            Pass sample selection
        </button>
        <mat-slide-toggle style="vertical-align: middle;" [(ngModel)]="showSampleCSV">Samples CSV</mat-slide-toggle>
    </div>
</div>
<div class="chart">
    <app-samples-list [sampleIDs]="externalIDs" [selectedSamples]="selectedExternalIDs" (onSelectSamples)="onSelectSamples($event)" [showSampleCSV]="showSampleCSV" (onUpdateSamples)="onSelectSamples($event)" [multiple]="false"></app-samples-list>
    <app-relationship-information *ngIf="selectedExternalIDs.length === 1 && !loadingVariants && !sampleNotFound" [relationships]="familyMembers"></app-relationship-information>
    <app-familial-filters *ngIf="selectedExternalIDs.length === 1 && !loadingVariants && !sampleNotFound" (appliedFilter)="selectFilter($event)"></app-familial-filters>
</div>

<div *ngIf="loadingVariants">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<app-variants-family-table *ngIf="selectedExternalIDs.length === 1 && !loadingVariants && variants.length > 0" [variants]="variants" [samples]="selectedInternalIDs"></app-variants-family-table>
<div *ngIf="sampleNotFound && !loadingVariants" class="message message-error">Sample not found</div>
<div *ngIf="variants.length <= 0 && selectedExternalIDs.length>0 && !loadingVariants && !sampleNotFound" class="message message-error">No Variants found for the query</div>