.chart{
    max-width: 35%; 
}

.toolbar {
    display: block;
}

.actions{
    float: right;
}

.filter-button{
    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
}

.material-icons{
    font-size: 20px;
}