.initiatives {
    display: flex;
    flex-wrap: wrap;
    top: 10em;
    position: relative;
}

.band {
    width: 100%;
}

.logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    height: 90px;
}

.logoName{
    font-size: 5em;
    color: #07607a;
}