.initiatives {
    display: flex;
    flex-wrap: wrap;
    top: 10em;
    position: relative;
}

.band {
    width: 100%;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    height: 90px;
}