.initiatives {
    display: flex;
    flex-wrap: wrap;
    top: 10em;
    position: relative;
}

.band {
    width: 100%;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    height: 150px;
}

.logoAbbreviation{
    display: block;
    font-size: 3em;
    font-weight: 500;
    color: #4c00c7;
}

.logo-img{
    display: block;
    margin: auto;
}