<h2 id="header">mtDNA Genes</h2>
<mat-form-field>
  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let gene of genes"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(gene)">
      {{gene}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      #geneInput
      [formControl]="geneCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let gene of filteredGenes | async" [value]="gene">
      {{gene}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<div *ngIf="loadingSample"> 
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div *ngIf="error">{{error.message}}</div>