.content {
    width: 80%;
    margin: auto;
}

.title{
    margin-left: 4%;
}

.cohort {
    margin-bottom: 8em;
}

.is-active{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 1rem;
    border: 1px solid rgba(81, 203, 238, 1);
}