<app-page-container>
    <div class="content">
      <mat-grid-list cols="4" rowHeight="4:1">
        <mat-grid-tile>
          <div class="cohort-title">
              <h1>Cohort Authors</h1>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <div [ngClass]="{'is-active': activeAnchor === 'mitochondria', 'cohort': true}" id='mitochondria'>
        <mat-grid-list cols="4" rowHeight="9:1">
            <mat-grid-tile [rowspan]="5">
              <div class="cohort-title">
                  <h1>Mitochondria</h1>
                  <img src="assets/amdf.png" height="100" width="100"/>
              </div>
            </mat-grid-tile>
            <mat-grid-tile *ngFor="let author of mitochondriaAuthors">{{author}}</mat-grid-tile>
          </mat-grid-list>
      </div>
      <div [ngClass]="{'is-active': activeAnchor === 'neuromuscular', 'cohort': true}" id='neuromuscular'>
        <mat-grid-list cols="4" rowHeight="9:1">
            <mat-grid-tile [rowspan]="5">
                <div class="cohort-title">
                  <h1>Neuromuscular</h1>
                  <img src="assets/amdf.png" height="100" width="100"/>
                </div>
            </mat-grid-tile>
            <mat-grid-tile *ngFor="let author of neuromuscularAuthors">{{author}}</mat-grid-tile>
          </mat-grid-list>
      </div>
    </div>
</app-page-container>
